<div class="left-container">
    <div class="left-container-nav-bar">
        <div class="search-icon"><fa-icon class="fa-xs" [icon]="faMagnifyingGlass" ></fa-icon></div>
        <div class="search-input"><input type="text" placeholder="Search for places..."></div>
        <div class="location-icon"><fa-icon class="fa-xs" [icon]="faLocationDot" ></fa-icon></div>
    </div>

    <div class="left-container-data-box">
        <div class="left-container-temp-data">
            <div class="left-container-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/17189/17189587.png" alt=""></div>
            <div class="left-container-temp-value">19 <sup>°C</sup></div>
            <div class="left-container-day-time">Monday, <span>16:00</span></div>
        </div>

        <div class="dividing-line"></div>

        <div class="left-container-other-detail">
            <div class="left-container-temp-summary">
                <div class="left-container-temp-summary-phare-img"><fa-icon style="color: rgb(0, 87, 201);" [icon]="faCloud"></fa-icon></div>
                <div class="left-container-temp-summary-value">Mostly Cloud</div>
            </div>
            <div class="left-container-rain-stats">
                <div class="left-container-rain-stats-phare-img"><fa-icon style="color: rgb(0, 87, 201);" [icon]="faCloudRain"></fa-icon></div>
                <div class="left-container-rain-stats-value">Rain - 0%</div>
            </div>

            <div class="left-container-location-details">
                <div class="left-container-locaiton-img"><img src="//avatars.mds.yandex.net/i?id=a7322558d09d7cf29533d3805115f324_l-8971534-images-thumbs&n=13" alt=""></div>
                <div class="left-container-location-name">New-York, NY, USA</div>
            </div>
        </div>


    </div>
</div>