<div class="right-container">
    <div class="right-container-nav-bar">
        <div class="nav-bar-tabs">
            <div class="today" (click)="onTodayClick()" [className]="today == true ? 'today today-active' : 'today' ">Today</div>
            <div class="week" (click)="onWeekClick()" [className]="week== true ? 'week week-active' : 'week' ">Week</div>
            <div class="underline" [className]="today == true ? 'underline underline-today' : 'underline underline-week' "></div>
        </div>

        <div class="nav-bar-metric">
            <div class="celsius" (click)="onCelsiusClick()" [className]="celsius == true ? 'celsius celsius-active' : 'celsius' ">°C</div>
            <div class="farenheit" (click)="onFarenheitClick()" [className]="farenheit == true ? 'farenheit farenheit-active' : 'farenheit' ">°F</div>
            <div class="profile-image"><img src="https://cdn-icons-png.flaticon.com/128/3135/3135768.png" alt=""></div>
        </div>
    </div>

    <div class="right-container-data-box">
        <div class="right-container-week-cards" *ngIf="week == true">
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> <span class="temp-max"> 20°</span> <span class="temp-min"> 13°</span> </div>
            </div>

             <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> <span class="temp-max"> 20°</span> <span class="temp-min"> 13°</span> </div>
            </div>

             <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> <span class="temp-max"> 20°</span> <span class="temp-min"> 13°</span> </div>
            </div>

             <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> <span class="temp-max"> 20°</span> <span class="temp-min"> 13°</span> </div>
            </div>

             <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> <span class="temp-max"> 20°</span> <span class="temp-min"> 13°</span> </div>
            </div>

             <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> <span class="temp-max"> 20°</span> <span class="temp-min"> 13°</span> </div>
            </div>

             <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> <span class="temp-max"> 20°</span> <span class="temp-min"> 13°</span> </div>
            </div>
        </div>


        <div class="right-container-today-cards" *ngIf="today == true">
            <div class="card">
                <div class="card-day">00:00</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> 20° </div>
            </div>

              <div class="card">
                <div class="card-day">04:00</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> 20° </div>
            </div>

              <div class="card">
                <div class="card-day">08:00</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> 20° </div>
            </div>

              <div class="card">
                <div class="card-day">12:00</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> 20° </div>
            </div>

              <div class="card">
                <div class="card-day">16:00</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> 20° </div>
            </div>

              <div class="card">
                <div class="card-day">19:00</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> 20° </div>
            </div>

              <div class="card">
                <div class="card-day">22:00</div>
                <div class="card-temp-img"><img src="https://cdn-icons-png.flaticon.com/128/439/439842.png" alt=""></div>
                <div class="card-temp-value"> 20° </div>
            </div>
        </div>

        <div class="right-container-todays-highlight">
            <div class="right-container-todays-highlight-title">Today`s Hightlight</div>
            <div class="right-container-todays-highlight-cards">

                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV index</div>
                    <div class="gauge">
                        <div class="gauge_body">
                            <div class="gauge_fill"></div>
                            <div class="gauge_cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>

                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV index</div>
                    <div class="gauge">
                        <div class="gauge_body">
                            <div class="gauge_fill"></div>
                            <div class="gauge_cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>

                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV index</div>
                    <div class="gauge">
                        <div class="gauge_body">
                            <div class="gauge_fill"></div>
                            <div class="gauge_cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>
                
            </div>

            <div class="right-container-todays-highlight-cards">
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV index</div>
                    <div class="gauge">
                        <div class="gauge_body">
                            <div class="gauge_fill"></div>
                            <div class="gauge_cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV index</div>
                    <div class="gauge">
                        <div class="gauge_body">
                            <div class="gauge_fill"></div>
                            <div class="gauge_cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV index</div>
                    <div class="gauge">
                        <div class="gauge_body">
                            <div class="gauge_fill"></div>
                            <div class="gauge_cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>
            </div>
            
        </div>
    </div>
</div>